name: Release template zip

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Build template
        run: npm run build

      - name: Create template zip
        run: |
          mkdir -p dist
          cd template
          zip -r ../dist/steam-mz-template-${{ github.ref_name }}.zip .

      - name: Create GitHub release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: dist/steam-mz-template-${{ github.ref_name }}.zip
